*{
    margin: 0;
    padding: 0;
}
header{
    margin-right: 135px;
    margin-left: 135px;
    padding:10px;
    margin-top: 10px;
    color: #ffffff;
    background-color: rgb(143, 7, 7);
    text-align: center;
    text-decoration: none;
}

.container{
    background-image: url(../Debbie/cleanb.png);
    width: 80%;
    margin: auto;
    overflow:auto;
}

#boxes{
    margin-top: 20px;
}
.box{
    margin-left: 30%;
    float: none;
    text-align: center;
    width: 30%;
    padding: 10px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgb(143, 7, 7);;
    color: #ffff;
    font-weight: bold;
    border: 10px inset rgb(143, 7, 7);
}

footer{
    margin-right: 135px;
    margin-left: 135px;
    padding:20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: rgb(143, 7, 7);
    text-align: center;
    text-decoration: none;
}